
/* Style the bingo board */

.bingo-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 500px;
    border: 3px black;
}

.cell {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.cell:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.cell.marked {
background-color: #d9f2d9;
}

.cell.marked::after {
    content: "✕";
    position: absolute;
    font-size: 150px;
    color: olivedrab;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cell.winner {
    background-color: yellow;
    outline: 4px solid orange;
}
