
/* Style the bingo board */

.bingo-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 500px;
    border: 3px solid black;
}

.cell {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}